body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

main {
    margin: auto;
    justify-content: center;
    align-items: center;
}

.hero {
    background-image: url(images/banner/banner3.png);
    background-repeat: no-repeat;
    /* Sizing */
    /* width: 100vw; */
    height: 880px;

    /* Flexbox stuff */
    display: flex;
    justify-content: end;
    align-items: center;

    /* Text styles */
    text-align: center;

}

.hero-inner {
    margin-bottom: 130px;
    margin-right: 130px;
}


.hero-title {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 65px;
    line-height: 76px;
    /* text-align: right; */
}

.hero-description {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    /* text-align: right; */
}

.btn-primary {
    color: #005FAC;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    background-color: white;
    padding: 20px 25px;
    border: none;
    border-radius: 5px;
}

.btn-secondary {
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    background-color: #005FAC;
    padding: 20px 25px;
    border: none;
    border-radius: 5px;
}

/* Previous failure styles */
.previous-failure {
    max-width: 1072px;
    margin: auto;
    gap: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.previous-failure-title {
    color: #151414;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
}

.previous-failure-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #444343;
}

.previous-failure-list li {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #444343;
    list-style: none;
}

.previous-failure-list i {
    color: #16D887;
}

/* My Plans Style */

.my-plans {
    margin: 130px auto;
}

.my-plans-title {
    text-align: center;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #151414;

}

.my-plans-services {
    display: flex;
    justify-content: center;
    gap: 85px;
}

.my-plans-services-individual {
    text-align: center;
}

.my-plans-services-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    color: #151414;
}

.my-plans-services-description {
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    color: #737272;
}

/* Call to action */
.call-to-action {
    /* height: 300px; */
    max-width: 1080px;
    background-image: linear-gradient(45deg, rgba(52, 73, 193, .90), rgba(164, 124, 154, 0.112)),
        url('images/watch.png');
    background-repeat: no-repeat;
    margin: auto;
    border-radius: 20px;
    margin-top: 130px;
    margin-bottom: 130px;
    /* padding: 60px; */
}


.cta-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #FFFFFF;
}

.cta-content {
    padding: 30px 60px 20px 60px;
}

/* Footer styles */
footer {
    background: #151414;
}

.footer-section {
    max-width: 1140px;
    margin: 0 auto;
}

.footer-content {
    display: flex;
    justify-content: center;
    gap: 100px;

}

.future-content-title {
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #F8F8F8;

}

.future-content-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
}

.future-content-contact {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
}

.future-content-social-icon {
    display: flex;
    gap: 20px;
}

.subscribe {
    display: flex;
    flex-direction: column;
}

.subscribe-title {
    font-weight: 600;
    font-size: 25px;
    line-height: 29px;

    color: #FFFFFF;

}